@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*
    font-family: 'Roboto', sans-serif;
a
    text-decoration: none    

.wrapper
    width 100%
    height auto
.container
    width 80%
    height auto
    margin 20px auto
    
 header>h1
    font-size: 2em

.tasks_text, .lists_text
    font-size: 1.5em
.tasks_list
    width 100%
    height auto
    margin 10px auto
    display none

.task
    display flex
    justify-content space-between
    align-items center
    margin 20px 0
    padding 0 0 5px 0
    border-bottom: 1px solid gray
    &>p
        padding 0 10px
        width 75%
        height auto

#hintText
    margin 10px 0
    font-size: 1.2em
   
.button:first-child
    margin-right 50px

.button
    font-family: 'Roboto', sans-serif;
    font-size: 1em
    border 1px solid #e7e7e7 
    border-radius: 10px
    background-color: #e7e7e7     
    padding 5px 10px
    transition: 0.3s ease
    outline: none
    margin 5px 10px
    &:hover
        cursor pointer
        border 1px solid #d1d1d1  
        background-color: #d1d1d1   


.change_task_block
    width 80%
    display flex
    justify-content flex-end

.task_name_input, .changeTaskInput, .input_list_name
    width 50%
    border: none
    border-bottom: 1px solid gray 
    font-size 1.1em
    outline: none

.input_list_name
    width 30%

.list_block
    margin 10px 0 
    width auto
    height auto

#lists
    list-style none
    display flex
    justify-content flex-start
    align-items: center
       

.list
    &:first-child
        margin: 0 10px 0 0 
    margin 0 10px
    padding 5px 10px 0 10px
    border: 1px solid transparent
    border-bottom: 1px solid gray
    transition: 0.3s ease
    &:hover
        cursor pointer
        border-color: #e1e1e1
        background-color: #e1e1e1
     


























.del
    width 100%                 